.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  background-color: #34db8d;
  border-radius: 50%;
}

.square {
  width: 100px;
  height: 100px;
  background-color: #3cc5e7;
  transform: rotate(45deg);
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  font-size: 24px;
}
